<TMPL_INCLUDE "./include/head.tmpl">
<body>
<center>入力確認</center>
<TMPL_IF MSG>
<font color="red"><TMPL_VAR MSG></font><br />
</TMPL_IF>
<TMPL_IF USER>
	<form method="post" action="<TMPL_VAR URL>">
	<TMPL_IF SESSIONNAME>
	<input type="hidden" name="<TMPL_VAR SESSIONNAME>" value="<TMPL_VAR SESSIONID>" />
	</TMPL_IF>
	<dl>
	<dt>ユーザー名</dt>
	<dd><TMPL_VAR USER></dd>
	<dt>パスワード</dt>
	<dd><TMPL_VAR PASS></dd>
	<dt>メールアドレス</dt>
	<dd><TMPL_VAR MAIL></dd>
	<dt>本名</dt>
	<TMPL_IF REALNAME>
	<dd><TMPL_VAR REALNAME></dd>
	<TMPL_ELSE>
	<dd>（未入力）</dd>
	</TMPL_IF>
	<dt>誕生日</dt>
	<TMPL_IF BIRTHDAY>
	<dd><TMPL_VAR BIRTHDAY></dd>
	<TMPL_ELSE>
	<dd>（未入力）</dd>
	</TMPL_IF>
	<dt>性別</dt>
	<TMPL_IF SEX>
	<dd><TMPL_VAR SEX></dd>
	<TMPL_ELSE>
	<dd>（未選択）</dd>
	</TMPL_IF>
	<dt>血液型</dt>
	<TMPL_IF BLOOD>
	<dd><TMPL_VAR BLOOD></dd>
	<TMPL_ELSE>
	<dd>（未選択）</dd>
	</TMPL_IF>
	<dt>職業</dt>
	<TMPL_IF JOB>
	<dd><TMPL_VAR JOB></dd>
	<TMPL_ELSE>
	<dd>（未入力）</dd>
	</TMPL_IF>
	<dt>楽器</dt>
	<TMPL_IF PART>
	<dd><TMPL_VAR PART></dd>
	<TMPL_ELSE>
	<dd>（未入力）</dd>
	</TMPL_IF>
	<dt>住所</dt>
	<TMPL_IF PLACE>
	<dd><TMPL_VAR PLACE></dd>
	<TMPL_ELSE>
	<dd>（未入力）</dd>
	</TMPL_IF>
	<dt>期</dt>
	<TMPL_IF AGE>
	<dd><TMPL_VAR AGE></dd>
	<TMPL_ELSE>
	<dd>（未選択）</dd>
	</TMPL_IF>
	<dt>自己紹介</dt>
	<TMPL_IF NOTE>
	<dd><TMPL_VAR NOTE></dd>
	<TMPL_ELSE>
	<dd>（未入力）</dd>
	</TMPL_IF>
	</dl>
	<input type="submit" name="submit" value="送信">
	<input type="submit" name="cancel" value="再入力">
	</form>
</TMPL_IF>
<hr />
<a href="index.cgi">トップページ</a>

</body>
</html>
