<TMPL_INCLUDE "./include/head.tmpl">
<body>
<TMPL_IF MSG>
<font color="red"><TMPL_VAR MSG></font><br />
</TMPL_IF>

<!-- 投稿タイトル -->
<img localsrc="56"><TMPL_VAR TOPICTITLE><br />
<!-- 投稿者 -->
<img localsrc="50"><a href="<TMPL_VAR TOPICREGISTUSERURL>"><TMPL_VAR TOPICREGISTUSERNAME></a><br />
<!-- 投稿時間 -->
<img localsrc="46"><TMPL_VAR TOPICREGISTTIME><br />
<TMPL_IF FILE1LARGEURL>
	<!-- 写真1 -->
	<TMPL_IF FILE1SMALLURL>
		<a href="<TMPL_VAR FILE1LARGEURL>"><img src="<TMPL_VAR FILE1SMALLURL>">拡大</a><br />
	<TMPL_ELSE>
		<img src="<TMPL_VAR FILE1LARGEURL>"><br />
	</TMPL_IF>
</TMPL_IF>
<TMPL_IF FILE2LARGEURL>
	<!-- 写真2 -->
	<TMPL_IF FILE2SMALLURL>
		<a href="<TMPL_VAR FILE2LARGEURL>"><img src="<TMPL_VAR FILE2SMALLURL>">拡大</a><br />
	<TMPL_ELSE>
		<img src="<TMPL_VAR FILE2LARGEURL>"><br />
	</TMPL_IF>
</TMPL_IF>
<TMPL_IF FILE3LARGEURL>
	<!-- 写真3 -->
	<TMPL_IF FILE3SMALLURL>
		<a href="<TMPL_VAR FILE3LARGEURL>"><img src="<TMPL_VAR FILE3SMALLURL>">拡大</a><br />
	<TMPL_ELSE>
		<img src="<TMPL_VAR FILE3LARGEURL>"><br />
	</TMPL_IF>
</TMPL_IF>
<!-- 本文 -->
<TMPL_VAR TOPICBODY><br />
<TMPL_IF MODIFYTOPICURL><a href="<TMPL_VAR MODIFYTOPICURL>">[修正]</a></TMPL_IF><TMPL_IF DELETETOPICURL><a href="<TMPL_VAR DELETETOPICURL>">[削除]</a><br /></TMPL_IF>

<TMPL_IF COMMENTS>
	<hr />
	<a href="<TMPL_VAR POSTTOPICCOMMENTURL>"><img localsrc="508">コメントを書く</a><br />
	<a href="<TMPL_VAR URL_POSTTOPIC>"><img localsrc="508">新規トピック作成</a><br />
	<TMPL_LOOP COMMENTS>
		<hr size=1 />
		<a name="<TMPL_VAR ID>"></a>
		<!-- 投稿者 -->
		<img localsrc="50"><TMPL_VAR COMMENTNO>.<a href="<TMPL_VAR REGISTUSERURL>"><TMPL_VAR REGISTUSERNAME></a><br />
		<!-- 投稿時間 -->
		<img localsrc="46"><TMPL_VAR REGISTTIME><br />
		<TMPL_IF EXISTFILE>
			<a href="<TMPL_VAR TOPICCOMMENTURL>">写真を見る</a><br />
		</TMPL_IF>
		<TMPL_UNLESS MOBILE>
			<TMPL_IF FILE1LARGEURL>
				<!-- 写真1 -->
				<TMPL_IF FILE1SMALLURL>
					<a href="<TMPL_VAR FILE1LARGEURL>"><img src="<TMPL_VAR FILE1SMALLURL>">拡大</a><br />
				<TMPL_ELSE>
					<img src="<TMPL_VAR FILE1LARGEURL>"><br />
				</TMPL_IF>
			</TMPL_IF>
			<TMPL_IF FILE2LARGEURL>
				<!-- 写真2 -->
				<TMPL_IF FILE2SMALLURL>
					<a href="<TMPL_VAR FILE2LARGEURL>"><img src="<TMPL_VAR FILE2SMALLURL>">拡大</a><br />
				<TMPL_ELSE>
					<img src="<TMPL_VAR FILE2LARGEURL>"><br />
				</TMPL_IF>
			</TMPL_IF>
			<TMPL_IF FILE3LARGEURL>
				<!-- 写真3 -->
				<TMPL_IF FILE3SMALLURL>
					<a href="<TMPL_VAR FILE3LARGEURL>"><img src="<TMPL_VAR FILE3SMALLURL>">拡大</a><br />
				<TMPL_ELSE>
					<img src="<TMPL_VAR FILE3LARGEURL>"><br />
				</TMPL_IF>
			</TMPL_IF>
		</TMPL_UNLESS>
		<!-- 本文 -->
		<TMPL_VAR BODY><br />
		<TMPL_IF MODIFYTOPICCOMMENTURL><a href="<TMPL_VAR MODIFYTOPICCOMMENTURL>">[修正]</a></TMPL_IF><TMPL_IF DELETETOPICCOMMENTURL><a href="<TMPL_VAR DELETETOPICCOMMENTURL>">[削除]</a><br /></TMPL_IF>
	</TMPL_LOOP>

	<TMPL_IF NOWPAGENOLABEL>
		<hr size=1 />
		<!-- ページ -->
		<TMPL_IF PREVPAGEURL>
		<a href="<TMPL_VAR PREVPAGEURL>">←</a>
		</TMPL_IF>
		<TMPL_LOOP BACKPAGELOOP>
		<a href="<TMPL_VAR BACKPAGEURL>"><TMPL_VAR BACKPAGELABEL></a>
		</TMPL_LOOP>
		<TMPL_IF NOWPAGENOLABEL>
		<blink><TMPL_VAR NOWPAGENOLABEL></blink>
		</TMPL_IF>
		<TMPL_LOOP FORWARDPAGELOOP>
		<a href="<TMPL_VAR FORWARDPAGEURL>"><TMPL_VAR FORWARDPAGELABEL></a>
		</TMPL_LOOP>
		<TMPL_IF NEXTPAGEURL>
		<a href="<TMPL_VAR NEXTPAGEURL>">→</a>
		</TMPL_IF>
		<br />
	</TMPL_IF>
<TMPL_ELSE>
<hr />
コメントはありません。<br />
</TMPL_IF>
<hr />
<a href="<TMPL_VAR POSTTOPICCOMMENTURL>"><img localsrc="508">コメントを書く</a><br />
<a href="<TMPL_VAR URL_POSTTOPIC>"><img localsrc="508">新規トピック作成</a><br />

<hr />
<a href="<TMPL_VAR FORUMURL>"><img localsrc="65"><TMPL_VAR FORUMNAME></a><br />
<a href="<TMPL_VAR URL_FORUMLIST>"><img localsrc="65">フォーラム一覧</a><br />
<a href="<TMPL_VAR URL_HOME>"><img localsrc="93">ホーム</a>
</body>
</html>
