<TMPL_INCLUDE "./include/head.tmpl">
<TMPL_INCLUDE "./include/onlinetitle.tmpl">

<div id="navigator">
<TMPL_INCLUDE "./include/b_menu.tmpl">
<TMPL_INCLUDE "./include/b_ontama.tmpl">
<TMPL_INCLUDE "./include/b_online.tmpl">
<TMPL_INCLUDE "./include/b_newmembers.tmpl">
</div>

<div id="contents">
	<TMPL_INCLUDE "./include/b_msg.tmpl">
	<div class="block_title">おんたまの開始確認</div>
	<div class="block_body">
	<form method="post" action="<TMPL_VAR NAME=URL>">
		<TMPL_IF SESSIONNAME>
		<input type="hidden" name="<TMPL_VAR NAME=SESSIONNAME>" value="<TMPL_VAR NAME=SESSIONID>" />
		</TMPL_IF>
		<img src="./res/egg1.gif"><br />
		あなたのおんたまの名前は「<TMPL_VAR ONTAMANAME>」でよろしいですか？<br />
		<input type="submit" name="submit" value="はい">
		<input type="submit" name="cancel" value="いいえ">
	</form>
	</div>
</div>
<div id="right">
	<TMPL_INCLUDE "./include/b_varticalbanner.tmpl">
</div>
<TMPL_INCLUDE "./include/foot.tmpl">
