<TMPL_INCLUDE "./include/head.tmpl">
<body>
<TMPL_IF MSG>
<font color="red"><TMPL_VAR MSG></font><br />
</TMPL_IF>
<TMPL_IF INFO>
<marquee><TMPL_VAR INFO></marquee>
</TMPL_IF>
<hr>
<a href="<TMPL_VAR URL_HOME>">&#xE663;ƒz[ƒ€</a>
</body>
</html>
