<TMPL_INCLUDE "./include/head.tmpl">
<body>
<center><TMPL_VAR TITLE></center>

<TMPL_IF MSG>
<font color="red"><TMPL_VAR MSG></font><br />
</TMPL_IF>
<form method="post" action="<TMPL_VAR URL>">
<TMPL_IF SESSIONNAME>
<input type="hidden" name="<TMPL_VAR SESSIONNAME>" value="<TMPL_VAR SESSIONID>" />
</TMPL_IF>
<hr />
<font color="#639ACE">▼</font>ログイン<br />
ユーザー名<br />
<input type="text" name="user" maxsize="25" value="<TMPL_VAR USER>" istyle="1"><br />
パスワード<br />
<input type="text" name="pass" maxsize="25" value="<TMPL_VAR PASS>" istyle="4"><br />
<input type="submit" name="login" value="ログイン">
</form>
<TMPL_IF MOBILE>
<hr />
<form method="post" action="<TMPL_VAR URL>" utn>
<TMPL_IF SESSIONNAME>
<input type="hidden" name="<TMPL_VAR SESSIONNAME>" value="<TMPL_VAR SESSIONID>" />
</TMPL_IF>
<font color="#639ACE">▼</font>かんたんログイン<br />
<input type="submit" name="easylogin" value="ログイン">
</form>
</TMPL_IF>
<hr />
<a href="index.cgi">トップページ</a><br />

</body>
</html>
