<TMPL_INCLUDE "./include/head.tmpl">
<body>
<center>メール投稿確認</center>
<TMPL_IF MSG>
<font color="red"><TMPL_VAR MSG></font><br />
</TMPL_IF>
<hr />
<a href="<TMPL_VAR URL_HOME>">&#xE663;ホーム</a>

</body>
</html>
