<div id="title"><a href="<TMPL_VAR URL_INDEX>"><img src="./res/logo.jpg" alt="<TMPL_VAR TITLE> - <TMPL_VAR SUBTITLE>" /></a></div>
<table id="headbar" cellspacing="0">
<tr><td>&nbsp;</td></tr>
</table>
