<div id="title"><a href="<TMPL_VAR URL_HOME>"><img src="./res/logo.jpg" alt="<TMPL_VAR TITLE> - <TMPL_VAR SUBTITLE>" /></a></div>
<table id="headbar" cellspacing="0">
<tr><td><TMPL_IF INFO><marquee>&nbsp;<TMPL_VAR INFO></marquee><TMPL_ELSE>&nbsp;</TMPL_IF></td></tr>
</table>
