<TMPL_INCLUDE "./include/head.tmpl">
<body>
<TMPL_IF MSG>
<font color="red"><TMPL_VAR MSG></font><br />
</TMPL_IF>

	<TMPL_IF URL_ONTAMAIMAGE>
		<center>‚¨‚ñ‚½‚Üu<TMPL_VAR ONTAMANAME>v‚ÌÁ‹Ž</center>
		<TMPL_VAR ONTAMAOWNERNAME>‚³‚ñ‚Ì<TMPL_VAR ONTAMANAME>‚Å‚·B<br />
		<center><img src="<TMPL_VAR URL_ONTAMAIMAGE>"></center>
		<form method="post" action="<TMPL_VAR URL>">
			<TMPL_IF SESSIONNAME>
			<input type="hidden" name="<TMPL_VAR SESSIONNAME>" value="<TMPL_VAR SESSIONID>" />
			</TMPL_IF>
			<TMPL_VAR ONTAMANAME>‚ðÁ‹Ž‚µ‚Ü‚·B<br />
			“¯‚¶‚¨‚ñ‚½‚Ü‚Í“ñ“x‚Æ‹A‚Á‚Ä‚«‚Ü‚¹‚ñ‚ª‚Ù‚ñ‚Æ‚¤‚É‚æ‚ë‚µ‚¢‚Å‚·‚©H<br />
			<input type="submit" name="submit" value="‚Í‚¢">
			<input type="submit" name="cancel" value="‚¢‚¢‚¦">
		</form>
	</TMPL_IF>
	<TMPL_IF ONTAMADEAD>
		<center>‚¨‚ñ‚½‚Üu<TMPL_VAR ONTAMANAME>v‚ÌÁ‹Ž</center>
		<TMPL_VAR ONTAMAOWNERNAME>‚³‚ñ‚Ì<TMPL_VAR ONTAMANAME>‚Å‚·B<br />
		<img src="./res/corpse1.gif"><br />
		<form method="post" action="<TMPL_VAR URL>">
			<TMPL_IF SESSIONNAME>
			<input type="hidden" name="<TMPL_VAR SESSIONNAME>" value="<TMPL_VAR SESSIONID>" />
			</TMPL_IF>
			<TMPL_VAR ONTAMANAME>‚ðÁ‹Ž‚µ‚Ü‚·B<br />
			<input type="submit" name="submit" value="‚Í‚¢">
			<input type="submit" name="cancel" value="‚¢‚¢‚¦">
		</form>
	</TMPL_IF>
		
<hr />
<a href="<TMPL_VAR URL_ONTAMA>">$QC‚¨‚ñ‚½‚Ü</a><br />
<a href="<TMPL_VAR URL_HOME>">$GVƒz[ƒ€</a>
</body>
</html>
