<TMPL_INCLUDE "./include/head.tmpl">
<body>
<TMPL_IF MSG>
<font color="red"><TMPL_VAR MSG></font><br />
</TMPL_IF>

$Ge<TMPL_VAR FORUMNAME><br />
<font size="-1"><TMPL_VAR FORUMNOTE></font><br />
<hr />
<a href="<TMPL_VAR URL_POSTTOPIC>">$O7V‹KƒgƒsƒbƒNì¬</a><br />

<TMPL_IF TOPICS>
	<TMPL_LOOP TOPICS>
		<hr size=1 />
		<a name="<TMPL_VAR ID>"></a>
		<a href="<TMPL_VAR URL>"><TMPL_VAR TITLE></a>(<TMPL_VAR COMMENTCOUNT>)<br />
		<font size="-1">
		“ŠeŠÔ:<TMPL_VAR REGISTTIME><br />
		“ŠeÒ:<a href="<TMPL_VAR REGISTUSERURL>"><TMPL_VAR REGISTUSERNAME></a><br />
		ÅIŠÔ:<TMPL_VAR LASTTIME><br />
		ÅI“ŠeÒ:<a href="<TMPL_VAR LASTUSERURL>"><TMPL_VAR LASTUSERNAME></a><br />
		</font>
	</TMPL_LOOP>

	<TMPL_IF NOWPAGENOLABEL>
		<hr size=1 />
		<!-- ƒy[ƒW -->
		<TMPL_IF PREVPAGEURL>
		<a href="<TMPL_VAR PREVPAGEURL>">©</a>
		</TMPL_IF>
		<TMPL_LOOP BACKPAGELOOP>
		<a href="<TMPL_VAR BACKPAGEURL>"><TMPL_VAR BACKPAGELABEL></a>
		</TMPL_LOOP>
		<TMPL_IF NOWPAGENOLABEL>
		<blink><TMPL_VAR NOWPAGENOLABEL></blink>
		</TMPL_IF>
		<TMPL_LOOP FORWARDPAGELOOP>
		<a href="<TMPL_VAR FORWARDPAGEURL>"><TMPL_VAR FORWARDPAGELABEL></a>
		</TMPL_LOOP>
		<TMPL_IF NEXTPAGEURL>
		<a href="<TMPL_VAR NEXTPAGEURL>">¨</a>
		</TMPL_IF>
		<br />
	</TMPL_IF>
<TMPL_ELSE>
<hr size=1 />
ƒgƒsƒbƒN‚Í‚ ‚è‚Ü‚¹‚ñB
</TMPL_IF>
<hr />
<a href="<TMPL_VAR URL_FORUMLIST>">$GeƒtƒH[ƒ‰ƒ€ˆê——</a><br />
<a href="<TMPL_VAR URL_HOME>">$GVƒz[ƒ€</a>
</body>
</html>
