<TMPL_INCLUDE "./include/head.tmpl">
<body>
<center>ƒtƒH[ƒ‰ƒ€ˆê——</center>
<TMPL_IF MSG>
<font color="red"><TMPL_VAR MSG></font><br />
</TMPL_IF>
<TMPL_LOOP FORUMCATEGORIES>
	<hr size=1 />
	<a name="cat<TMPL_VAR ID>"></a>
	<font color="#639ACE">¥</font><TMPL_VAR NAME><br />
	<TMPL_LOOP FORUMS>
	<a href="<TMPL_VAR URL>">$Ge<TMPL_VAR NAME></a><br />
	<font size="-1"><TMPL_VAR NOTE></font><br />
	
	<TMPL_IF LASTUSER>
	<font size="-1">ÅI“Še:<a href="<TMPL_VAR URL_LASTUSER>"><TMPL_VAR LASTUSER></a><br />
	<TMPL_VAR LASTTIME></font><br />
	</TMPL_IF>
	<font size="-1">˜b‘è”:<TMPL_VAR THREADCOUNT><br />
	“Še”:<TMPL_VAR POSTCOUNT><br /></font>
	</TMPL_LOOP>
</TMPL_LOOP>
<hr />
<a href="<TMPL_VAR URL_HOME>">$GVƒz[ƒ€</a>
</body>
</html>
