<TMPL_INCLUDE "./include/head.tmpl">
<body>
<center><TMPL_VAR TITLE></center>
<marquee>$G^<TMPL_VAR SUBTITLE></marquee>
<TMPL_IF MSG>
<font color="red"><TMPL_VAR MSG></font><br />
</TMPL_IF>
<hr />
<center>$P? ƒƒjƒ…[ $P?</center>
<a href="login.cgi" accesskey=1>$F<ƒƒOƒCƒ“</a><br>
<a href="login.cgi?easylogin=1" accesskey=2 utn>$F=‚©‚ñ‚½‚ñƒƒOƒCƒ“</a><br />
$ON‰‚ß‚Ä‚Ì•û‚Í<br />
<a href="reguser.cgi" accesskey=3>$F>ƒ†[ƒU[“o˜^</a><br />
<font size="-1"><font color="red"><blink>¦</blink></font> ‹Œ onjun.net ‰ïˆõ‚àÄ“o˜^‚µ‚Ä‚­‚¾‚³‚¢B</font><br />
<TMPL_IF NEWS>
	<hr />
	<center>$F2 V’…î•ñ $F2</center>
	<TMPL_LOOP NEWS>
		<TMPL_IF TOPICTITLE>
			<TMPL_VAR DATE>c<a href="<TMPL_VAR URL>"><TMPL_VAR TOPICTITLE>(<TMPL_VAR COUNT>)</a> (<a href="<TMPL_VAR FORUMURL>"><TMPL_VAR FORUMNAME></a>)<br />
		</TMPL_IF>
	</TMPL_LOOP>
	<div align="right">
		<a href="<TMPL_VAR URL_NEWS>">‚à‚Á‚Æ...</a>
	</div>
</TMPL_IF>
<TMPL_IF NEWMEMBERS>
	<hr />
	<center>$G! V‚µ‚¢ƒƒ“ƒo[ $G!</center>
	<TMPL_LOOP NEWMEMBERS>
		<TMPL_VAR DATE>c<a href="<TMPL_VAR URL>"><TMPL_VAR NAME></a><br />
	</TMPL_LOOP>
</TMPL_IF>
<TMPL_IF ONLINEMEMBERS>
	<hr />
	<center>$Gj ƒIƒ“ƒ‰ƒCƒ“ $Gj</center>
	<TMPL_LOOP ONLINEMEMBERS>
		<a href="<TMPL_VAR URL>"><TMPL_VAR NAME></a>(<TMPL_VAR PAGETITLE>)<br />
	</TMPL_LOOP>
</TMPL_IF>
<hr />
<div align="right">$Fnsawasige</div>

</body>
</html>
