<TMPL_INCLUDE "./include/head.tmpl">
<body>
<center>ƒRƒƒ“ƒgC³</center>
<TMPL_IF MSG>
<font color="red"><TMPL_VAR MSG></font><br />
</TMPL_IF>
<TMPL_IF TOPICTITLE>
	<TMPL_IF MOBILE>
		<form method="post" action="<TMPL_VAR URL>">
	<TMPL_ELSE>
		<form method="post" action="<TMPL_VAR URL>" enctype="multipart/form-data">
	</TMPL_IF>
	<input type="hidden" name="topiccommentid" value="<TMPL_VAR TOPICCOMMENTID>" />
	<TMPL_IF SESSIONNAME>
		<input type="hidden" name="<TMPL_VAR SESSIONNAME>" value="<TMPL_VAR SESSIONID>" />
	</TMPL_IF>
	<font color="#639ACE">¥</font>ƒtƒH[ƒ‰ƒ€–¼<br />
	<TMPL_VAR FORUMNAME><br />
	<font color="#639ACE">¥</font>ƒgƒsƒbƒN<br />
	<TMPL_VAR TOPICTITLE><br />
	<font color="#639ACE">¥</font>ƒRƒƒ“ƒg<br />
	<textarea rows="5" name="body"><TMPL_VAR BODY></textarea><br />

	<font color="#639ACE">¥</font>ŽÊ^1<br />
	<TMPL_IF FILE1LARGEURL>
		<TMPL_IF FILE1SMALLURL>
			<a href="<TMPL_VAR FILE1LARGEURL>"><img src="<TMPL_VAR FILE1SMALLURL>">Šg‘å</a><br />
		<TMPL_ELSE>
			<img src="<TMPL_VAR FILE1LARGEURL>"><br />
		</TMPL_IF>
		<input type="checkbox" name="deletefile1" <TMPL_VAR DELETEFILE1CHECKED>>íœ<br />
	<TMPL_ELSE>
	‚È‚µ<br />
	</TMPL_IF>
	<TMPL_UNLESS MOBILE>
	<input type="file" name="file1"><br />
	</TMPL_UNLESS>

	<font color="#639ACE">¥</font>ŽÊ^2<br />
	<TMPL_IF FILE2LARGEURL>
		<TMPL_IF FILE2SMALLURL>
			<a href="<TMPL_VAR FILE2LARGEURL>"><img src="<TMPL_VAR FILE2SMALLURL>">Šg‘å</a><br />
		<TMPL_ELSE>
			<img src="<TMPL_VAR FILE2LARGEURL>"><br />
		</TMPL_IF>
		<input type="checkbox" name="deletefile2" <TMPL_VAR DELETEFILE2CHECKED>>íœ<br />
	<TMPL_ELSE>
	‚È‚µ<br />
	</TMPL_IF>
	<TMPL_UNLESS MOBILE>
	<input type="file" name="file2"><br />
	</TMPL_UNLESS>

	<font color="#639ACE">¥</font>ŽÊ^3<br />
	<TMPL_IF FILE3LARGEURL>
		<TMPL_IF FILE3SMALLURL>
			<a href="<TMPL_VAR FILE3LARGEURL>"><img src="<TMPL_VAR FILE3SMALLURL>">Šg‘å</a><br />
		<TMPL_ELSE>
			<img src="<TMPL_VAR FILE3LARGEURL>"><br />
		</TMPL_IF>
		<input type="checkbox" name="deletefile3" <TMPL_VAR DELETEFILE3CHECKED>>íœ<br />
	<TMPL_ELSE>
	‚È‚µ<br />
	</TMPL_IF>
	<TMPL_UNLESS MOBILE>
	<input type="file" name="file3"><br />
	</TMPL_UNLESS>

	<input type="submit" name="submit" value="Šm”F"><br />

	</form>
</TMPL_IF>
<hr />
<TMPL_IF TOPICTITLE>
<a href="<TMPL_VAR TOPICURL>">$O!<TMPL_VAR TOPICTITLE></a><br />
</TMPL_IF>
<TMPL_IF FORUMNAME>
<a href="<TMPL_VAR FORUMURL>">$Ge<TMPL_VAR FORUMNAME></a><br />
</TMPL_IF>
<a href="<TMPL_VAR URL_FORUMLIST>">$GeƒtƒH[ƒ‰ƒ€ˆê——</a><br />
<a href="<TMPL_VAR URL_HOME>">$GVƒz[ƒ€</a>

</body>
</html>
