<TMPL_INCLUDE "./include/head.tmpl">
<body>
<center>У№Ч═КmФF</center>
<TMPL_IF MSG>
<font color="red"><TMPL_VAR MSG></font><br />
</TMPL_IF>
<TMPL_IF FORUMNAME>
	<form method="post" action="<TMPL_VAR URL>">
	<TMPL_IF SESSIONNAME>
	<input type="hidden" name="<TMPL_VAR SESSIONNAME>" value="<TMPL_VAR SESSIONID>" />
	</TMPL_IF>
	<font color="#639ACE">Бе</font>ГtГHБ[ГЙГАЦ╝<br />
	<TMPL_VAR FORUMNAME><br />
	<font color="#639ACE">Бе</font>Г^ГCГgГЛ<br />
	<TMPL_VAR TOPICTITLE><br />
	<font color="#639ACE">Бе</font>Ц{Х╢<br />
	<TMPL_VAR BODY><br />

	<TMPL_UNLESS MOBILE>
	<TMPL_IF FILE1>
		<font color="#639ACE">Бе</font>О╩Р^1<br />
		<TMPL_VAR FILE1><br />
	</TMPL_IF>
	<TMPL_IF FILE2>
		<font color="#639ACE">Бе</font>О╩Р^2<br />
		<TMPL_VAR FILE2><br />
	</TMPL_IF>
	<TMPL_IF FILE3>
		<font color="#639ACE">Бе</font>О╩Р^3<br />
		<TMPL_VAR FILE3><br />
	</TMPL_IF>
	</TMPL_UNLESS>
	<input type="submit" name="submit" value="СЧРM">
	<input type="submit" name="cancel" value="Н─У№Ч═">
	</form>
</TMPL_IF>
<hr />
<TMPL_IF FORUMNAME>
<a href="<TMPL_VAR FORUMURL>">$Ge<TMPL_VAR FORUMNAME></a><br />
</TMPL_IF>
<a href="<TMPL_VAR URL_FORUMLIST>">$GeГtГHБ[ГЙГАИъЧЧ</a><br />
<a href="<TMPL_VAR URL_HOME>">$GVГzБ[ГА</a>

</body>
</html>
