<TMPL_INCLUDE "./include/head.tmpl">
<body>
<center>ƒvƒƒtƒB[ƒ‹</center>
<TMPL_IF MSG>
<font color="red"><TMPL_VAR MSG></font><br />
</TMPL_IF>
<TMPL_IF USER>

	<TMPL_IF URL_SENDMESSAGE>
	<a href="<TMPL_VAR URL_SENDMESSAGE>">ƒƒbƒZ[ƒW‚ð‘—‚é</a><br />
	</TMPL_IF>
	<TMPL_IF URL_EDITPROFILE>
	<a href="<TMPL_VAR URL_EDITPROFILE>">ƒvƒƒtƒB[ƒ‹•ÏX</a><br />
	</TMPL_IF>
	<dl>
	<dt>ƒ†[ƒU[–¼</dt>
	<dd><TMPL_VAR USER></dd>
	<dt>–{–¼</dt>
	<TMPL_IF REALNAME>
	<dd><TMPL_VAR REALNAME></dd>
	<TMPL_ELSE>
	<dd>i”ñŒöŠJj</dd>
	</TMPL_IF>
	<dt>’a¶“ú</dt>
	<TMPL_IF BIRTHDAY>
	<dd><TMPL_VAR BIRTHDAY></dd>
	<TMPL_ELSE>
	<dd>i”ñŒöŠJj</dd>
	</TMPL_IF>
	<dt>«•Ê</dt>
	<TMPL_IF SEX>
	<dd><TMPL_VAR SEX></dd>
	<TMPL_ELSE>
	<dd>i”ñŒöŠJj</dd>
	</TMPL_IF>
	<dt>ŒŒ‰tŒ^</dt>
	<TMPL_IF BLOOD>
	<dd><TMPL_VAR BLOOD></dd>
	<TMPL_ELSE>
	<dd>i”ñŒöŠJj</dd>
	</TMPL_IF>
	<dt>E‹Æ</dt>
	<TMPL_IF JOB>
	<dd><TMPL_VAR JOB></dd>
	<TMPL_ELSE>
	<dd>i”ñŒöŠJj</dd>
	</TMPL_IF>
	<dt>ŠyŠí</dt>
	<TMPL_IF PART>
	<dd><TMPL_VAR PART></dd>
	<TMPL_ELSE>
	<dd>i”ñŒöŠJj</dd>
	</TMPL_IF>
	<dt>ZŠ</dt>
	<TMPL_IF PLACE>
	<dd><TMPL_VAR PLACE></dd>
	<TMPL_ELSE>
	<dd>i”ñŒöŠJj</dd>
	</TMPL_IF>
	<dt>Šú</dt>
	<TMPL_IF AGE>
	<dd><TMPL_VAR AGE></dd>
	<TMPL_ELSE>
	<dd>i”ñŒöŠJj</dd>
	</TMPL_IF>
	<dt>Ž©ŒÈÐ‰î</dt>
	<TMPL_IF NOTE>
	<dd><TMPL_VAR NOTE></dd>
	<TMPL_ELSE>
	<dd>i”ñŒöŠJj</dd>
	</TMPL_IF>

	<TMPL_IF LASTTIME>
	<dt>ÅIƒƒOƒCƒ“</dt>
	<dd><TMPL_VAR LASTTIME></dd>
	</TMPL_IF>
	<TMPL_IF USERAGENT>
	<dt>ÅIUSER_AGENT</dt>
	<dd><TMPL_VAR USERAGENT></dd>
	</TMPL_IF>
	</dl>
</TMPL_IF>
<hr />
<a href="<TMPL_VAR URL_HOME>">$GVƒz[ƒ€</a>

</body>
</html>
